body {
    /*border: 5px solid magenta;*/
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;    
}

#header {
    /*border: 5px solid blue;*/
    overflow: hidden;
}

#score_table {
    margin-left: auto;
    margin-right: auto;
}

#playingfield {
    
}

table {
    /*border: 5px solid cyan;*/
}

#footer {
    /*border: 5px solid green;*/
    
    position: fixed;
    top: 90%;
    left: 45%;
}

#reset_table {
    margin-left: auto;
    margin-right: auto;
}