body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;    
}

#header {
    overflow: hidden;
}

#score_table {
    margin-left: auto;
    margin-right: auto;
}

#playingfield {
    
}

table {
}

#footer {
    position: fixed;
    top: 90%;
    left: 45%;
}

#reset_table {
    margin-left: auto;
    margin-right: auto;
}